.m-content .jazz-marquee-w {
    width: inherit;
    padding: 20px 0;
    height: 140px;
}

.m-content .jazz-marquee-w span {
    font-size: 160px;
}

@media screen and (min-width:600px) {
    .m-content .jazz-marquee-w {
        height: 200px;
    }
    .m-content .jazz-marquee-w span {
        font-size: 220px;
    }
}

@media screen and (min-width:900px) {
    .m-content .jazz-marquee-w {
        height: 270px;
    }
    .m-content .jazz-marquee-w span {
        font-size: 270px;
    }
}