.m-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-header img {
    width: 91.466vw;
    height: 100%;
    padding: 16px 0;
}

@media screen and (min-width:550px) {
    .m-header img {
        width: inherit;
    }
}